opencv-python
numpy
numba
scikit-learn

torch
torchvision
pytorch_lightning

tensorboard
matplotlib

pyyaml
omegaconf
h5py
hdf5plugin
typeguard

#yolox
loguru

#yolov8, v11
ultralytics

#rvt
StrEnum
einops

#eval
pycocotools